<html>
    <head>
        <title>WhoisQ</title>
    </head>
    <body>
        <h1>WhoisQ</h1>
        <form action="/search" method="post">
            <label for="domain">Domain Name:</label>
            <input type="text" name="domain" id="domain" required>
            <button type="submit">Search</button>
        </form>
    </body>
</html>