<html>
    <head>
        <title>WhoisQ - Result</title>
    </head>
    <body>
        <h1>WhoisQ - Result</h1>
        <pre>{{response}}</pre>
        <a href="/">Back to search</a>
    </body>
</html>